* {
  text-shadow: none !important;
  scrollbar-width: thin;  
}

body {
  height: 100vh;
  background-image: none;
}

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

#keyword-wrapper {
  max-width: 400px;
}

#keyword {
  font-size: 1.5em;
}

#timer {
  max-width: 100%;
  font-size: 3em;
}

input[type=number],
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#eligibles-box, #twitch-chat, #leaderboard-box {
  overflow-y: auto;
}

#collapse-twitch,
#collapse-eligibles,
#leaderboard-box {
  height: 0;
}

#collapse-eligibles {
  min-height: 40%;
}

#eligibles-box {
  min-height: 100px;
}


@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  
  #leaderboard {
    min-width: 300px;
  }
  #left-box {
    max-width: 350px;
  }
}

.list-group-item {
  border: 0;
  background-color: transparent;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed {
  background-color: #515960;
}

